*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
img{
    vertical-align: middle;
}
/*========================
common css
=========================*/
/*========================
navigation bar part
=========================*/
nav{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.navigationbar{
    display: flex;
    justify-content: space-between;
}
.navlogo img{
    margin: 20px 0px;
}
.navmenu ul{
    display: flex;
    padding-top: 20px;
}
.navmenu ul li a{
    padding: 0px 20px;
    color: white;
}
.navmenu ul li:last-child{
    padding-right: 0;
}
/*========================
banner part
=========================*/
#banner{
    background:linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/banner.jpg) no-repeat center / cover;
    width: 100%;
    position: absolute;
    z-index: 0;
}
.banner-item{
    padding: 240px 0px 100px 0px;
    text-align: center;
}
.banner-item h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}
.banner-item p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.banner-item a{
    margin-top: 100px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 15px;
    background-color: #709dca;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
/*========================
offer part
=========================*/
.offersection{
    padding-top: 700px;
}
.offerhead{
    text-align: center;
    color: #394b50;
}
.offerhead h3{
    color: #709dca;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
}
.offertext{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #394b50;
}
.offeralltext{
    position: relative;
    width: 48%;
    margin-top: 90px;
    
}
.offeralltext h6{
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.offeralltext p{
    padding-left: 50px;
}
.offeralltext i{
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 0;
}
/*========================
who part
=========================*/
#whopart{
    padding-top: 100px;
    display: flex;
}
.whoimg{
    width: 50%;
}
.whotext{
    background-color: #ffc155;
    width: 50%;
    padding: 100px 160px 80px 80px;
    color: white;
}
.whotext h4{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
}
.whotext p{
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.whotext a{
    margin-top: 90px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    background-color: #e7ad48;
    padding: 10px;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
    box-shadow: -2px 3px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 3px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 12px 1px rgba(0,0,0,0.75);
}
/*========================
work part
=========================*/
.seeourwork{
    padding: 80px 180px 40px;
    text-align: center;
}
.seeourwork h4{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 26px;
    color: #8db1d5;
    padding: 40px 0;
}
.seeourwork i{
    color: #ffc155;
    position: relative;
    padding: 20px 0;
}
.seeourwork i::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 90px;
    top: 50%;
    left: 20px;
    background-color: #ffc155;
}
.seeourwork i::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 90px;
    top: 50%;
    right: 20px;
    background-color: #ffc155;
}
.seeourwork p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8db1d5;
    padding: 20px 0;
}
.seeourwork ul{
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px;
}
.seeourwork ul a{
    color: #394b50;
    margin: 0 15px;
    padding: 5px 10px;
    
}
.seeourwork ul li:hover a{
    background-color: #709dca;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
}
.workimg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.workitem{
    width: 25%;
    position: relative;
}
.workitem img{
    width: 100%;
}
.workitem .overlay{
    background: linear-gradient(rgb(255, 193, 85,0.5),rgb(255, 193, 85,0.5));
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.overlaytext{
    text-align: center;
    margin: 110px auto;
}
.overlaytext h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
}
.overlaytext p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
}
.workitem:hover .overlay{
    width: 100%;
    opacity: 1;
}
/*========================
testimonial part
=========================*/
.testhead{
    padding-top: 80px;
    text-align: center;
}
.testhead h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 26px;
    color: #709dca;
    text-transform: uppercase;
}
.testhead i{
    color: #ffc155;
    position: relative;
}
.testhead i::after{
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    top: 50%;
    left: 30px;
    background-color: #ffc155;
}
.testhead i::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    top: 50%;
    right: 30px;
    background-color: #ffc155;
}
.testtext{
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}
.testtextleft{
    width: 40%;
}
.testtextleft p{
    width: 100%;
    background-color: #f6f3f3;
    padding: 35px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 13px;
    font-style: italic;
    color: #b8b6b6;
}
.testtextleft i{
    padding: 20px 5px 0px 0px;
}
/*========================
footer part
=========================*/
footer{
    margin-top: 100px;
    background-color: #273a43;
    padding: 70px 0;
}
.footer-item{
    display: flex;
    justify-content: space-between;
}
.footer-one , .footer-four{
    width: 25%;
    color: white;
}
.footer-one h3{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 22px;
}
.footer-one p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 35px;
}
.footer-two {
    width: 23%;
    color: white;
}
.footer-two h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.footer-two h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-top: 35px;
}
.footer-two p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 20px 0px 0px 10px;
}
.coltwo{
    position: relative;
}
.coltwo p{
    padding-left: 30px;
}
.coltwo i{
    position: absolute;
    top: 20px;
    left: 0;
    color: #71b6d5;
}
.footer-three {
    width: 23%;
    color: white;
}
.footer-three h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.footer-three p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 35px 0px 0px 30px;
}
.colthree{
    position: relative;
}
.colthree i{
    position: absolute;
    top: 40px;
    left: 0;
    color: #71b6d5;
}
.footer-four h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.footer-four p{
    padding: 35px 0;
}
.footer-four p,input,button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.four-text{
    width: 190px;
    height: 35px;
    border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
    border: none;
    padding: 15px;
}
.four-btn {
	width: 85px;
	height: 35px;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	border: none;
    margin-left: -4px;
    background-color:#71b6d5;
;
}
/*========================
end part
=========================*/
#end{
    background-color: #172227;
}
.end-item{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.endone p , .endtwo p{
    color: #8e9193;
}
.endicon ul{
    display: flex;
}
.endicon ul li{
    padding-left: 10px;
}
.endicon ul li a{
    background-color: #2c3b42;
    padding: 10px;
}
.endicon ul li a i{
    height: 15px;
    width: 15px;
    color: white;
}
.endicon ul li:hover a{
    background-color: #71b6d5;
}


